<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_categorytree</name>
    <displayName><![CDATA[Category tree links]]></displayName>
    <version><![CDATA[3.0.1]]></version>
    <description><![CDATA[Help navigation on your store, show your visitors current category and subcategories.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>
