.radio-button-link-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio-button-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  border: 1px solid #b3c7cd;
  border-radius: 0.25rem;
  padding: 1rem;
}
.radio-button-link:hover {
  background-color: #f4f9fb;
}
.radio-button-link.active {
  border: 2px solid #25b9d7;
  padding: calc(1rem - 1px);
  background-color: #f4f9fb;
}
.radio-button-link.active .radio-button-link__radio {
  border-color: #25b9d7;
}
.radio-button-link.active .radio-button-link__radio:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #25b9d7;
}

.radio-button-link__radio {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  border: 2px solid #b3c7cd;
  border-radius: 50%;
  margin: 0.125rem;
}

.radio-button-link__icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c868e;
  width: 2rem;
  height: 2rem;
}

.radio-button-link__text {
  font-size: 0.875rem;
  line-height: 1.188rem;
}

.radio-button-link__label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.313rem;
  color: #363a41;
}

.radio-button-link__help {
  display: block;
  color: #6c868e;
  margin: 0;
}

/*disabled*/
.radio-button-link.radio-button-link--disabled {
  border-color: #b3c7cd;
  pointer-events: none;
}
.radio-button-link.radio-button-link--disabled .radio-button-link__icon,
.radio-button-link.radio-button-link--disabled .radio-button-link__label,
.radio-button-link.radio-button-link--disabled .radio-button-link__help {
  color: #b3c7cd;
}
.radio-button-link.radio-button-link--disabled .radio-button-link__radio {
  border-color: #eaebec;
}
.radio-button-link.radio-button-link--disabled .radio-button-link__radio:before {
  background-color: #eaebec;
}
